@page
@model ContosoUniversity.Pages.AboutModel

@{ ViewData["Title"] = "Student Body Statistics"; }

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>Enrollment Date</th>
        <th>Students</th>
    </tr>

    @foreach (var group in Model.Students)
    { 
        <tr>
            <td>@Html.DisplayFor(about_model => group.EnrollmentDate)</td>
            <td>@group.StudentCount</td>
        </tr>
    }
</table>